<div class="row">

  <div class="col-md-4"></div>

  <div class="col-md-4">
    <h1 class="text-center">Tyler Neustaedter</h1>
    <br>
    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtf1/v/t1.0-1/c0.0.320.320/p320x320/10170681_10152303482506265_1108235178_n.jpg?oh=e911ab2cb56048c9fb1dec646d078c88&oe=55BFA9F6&__gda__=1443019565_36c16346cb9b9cd8758a74e63cc15b31" class="img-circle">
    <br>
    <br>
    <div class="text-center">
      <a href="https://www.facebook.com/tyler.neustaedter?fref=ts"><i class="fa fa-facebook-square fa-3x"></i></a>
      <a href="http://github.com/popesicle"><i class="fa fa-github-alt fa-3x"></i></a>
    </div>
  </div>

  <div class="col-md-4"></div>

</div>
